[submodule "dogs-breed-detector"]
	path = dogs-breed-detector
	url = https://github.com/ai4os-hub/dogs-breed-detector.git
	branch = main
[submodule "tf-cnn-benchmarks-api"]
	path = tf-cnn-benchmarks-api
	url = https://github.com/ai4os-hub/tf-cnn-benchmarks-api
	branch = main
[submodule "fast-neural-transfer"]
	path = fast-neural-transfer
	url = https://github.com/ai4os-hub/fast-neural-transfer/
	branch = main
[submodule "ai4os-demo-app"]
	path = ai4os-demo-app
	url = https://github.com/ai4os-hub/ai4os-demo-app
	branch = main
[submodule "ai4os-image-classification-tf"]
	path = ai4os-image-classification-tf
	url = https://github.com/ai4os-hub/ai4os-image-classification-tf
	branch = main
[submodule "ai4os-audio-classification-tf"]
	path = ai4os-audio-classification-tf
	url = https://github.com/ai4os-hub/ai4os-audio-classification-tf
	branch = main
[submodule "birds-audio-classification"]
	path = birds-audio-classification
	url = https://github.com/ai4os-hub/birds-audio-classification.git
	branch = main
[submodule "conus-classification"]
	path = conus-classification
	url = https://github.com/ai4os-hub/conus-classification.git
	branch = main
[submodule "plants-classification"]
	path = plants-classification
	url = https://github.com/ai4os-hub/plants-classification
	branch = main
[submodule "seeds-classification"]
	path = seeds-classification
	url = https://github.com/ai4os-hub/seeds-classification
	branch = main
[submodule "obj-detection-torch"]
	path = obj-detection-torch
	url = https://github.com/ai4os-hub/obj-detection-torch
	branch = main
[submodule "semseg-vaihingen"]
	path = semseg-vaihingen
	url = https://github.com/ai4os-hub/semseg-vaihingen
	branch = main
[submodule "retinopathy-test"]
	path = retinopathy-test
	url = https://github.com/ai4os-hub/retinopathy-test
	branch = main
[submodule "ai4os-fasterrcnn-torch"]
	path = ai4os-fasterrcnn-torch
	url = https://github.com/ai4os-hub/ai4os-fasterrcnn-torch
	branch = main
[submodule "ai4os-speech-to-text-tf"]
	path = ai4os-speech-to-text-tf
	url = https://github.com/ai4os-hub/ai4os-speech-to-text-tf
	branch = main
[submodule "ai4os-yolov8-torch"]
	path = ai4os-yolov8-torch
	url = https://github.com/ai4os-hub/ai4os-yolov8-torch
	branch = main
[submodule "thunderstorm-nowcast-microstep"]
	path = thunderstorm-nowcast-microstep
	url = https://github.com/ai4os-hub/thunderstorm-nowcast-microstep
	branch = main
[submodule "DEEP-OC-mods"]
	path = DEEP-OC-mods
	url = https://github.com/deephdc/DEEP-OC-mods
	branch = master
[submodule "DEEP-OC-satsr"]
	path = DEEP-OC-satsr
	url = https://github.com/deephdc/DEEP-OC-satsr
	branch = master
[submodule "DEEP-OC-posenet-tf"]
	path = DEEP-OC-posenet-tf
	url = https://github.com/deephdc/DEEP-OC-posenet-tf
	branch = master
[submodule "DEEP-OC-image-classification-tf-dicom"]
	path = DEEP-OC-image-classification-tf-dicom
	url = https://github.com/deephdc/DEEP-OC-image-classification-tf-dicom
	branch = master
[submodule "UC-adnaneds-DEEP-OC-unet"]
	path = UC-adnaneds-DEEP-OC-unet
	url = https://github.com/deephdc/UC-adnaneds-DEEP-OC-unet
	branch = main
[submodule "UC-hereariim-DEEP-OC-blossom"]
	path = UC-hereariim-DEEP-OC-blossom
	url = https://github.com/deephdc/UC-hereariim-DEEP-OC-blossom
	branch = master
[submodule "UC-emmaamblard-DEEP-OC-multi_plankton_separation"]
	path = UC-emmaamblard-DEEP-OC-multi_plankton_separation
	url = https://github.com/deephdc/UC-emmaamblard-DEEP-OC-multi_plankton_separation
	branch = master
[submodule "UC-lifewatch-DEEP-OC-underwater-noise-classification"]
	path = UC-lifewatch-DEEP-OC-underwater-noise-classification
	url = https://github.com/deephdc/UC-lifewatch-DEEP-OC-underwater-noise-classification
	branch = master
[submodule "UC-jmbIFR-DEEP-OC-marine_species_seg"]
	path = UC-jmbIFR-DEEP-OC-marine_species_seg
	url = https://github.com/deephdc/UC-jmbIFR-DEEP-OC-marine_species_seg
	branch = master
[submodule "thermal-bridges-rooftops-detector"]
	path = thermal-bridges-rooftops-detector
	url = https://github.com/ai4os-hub/thermal-bridges-rooftops-detector
	branch = main
[submodule "ai4os-dev-env"]
	path = ai4os-dev-env
	url = https://github.com/ai4os/ai4os-dev-env/
	branch = main
[submodule "integrated-plant-protection"]
	path = integrated-plant-protection
	url = https://github.com/ai4os-hub/integrated-plant-protection.git
	branch = main
[submodule "zooprocess-multiple-classifier"]
	path = zooprocess-multiple-classifier
	url = https://github.com/ai4os-hub/zooprocess-multiple-classifier/
	branch = main
[submodule "phyto-plankton-classification"]
	path = phyto-plankton-classification
	url = https://github.com/ai4os-hub/phyto-plankton-classification.git
	branch = main
[submodule "litter-assessment"]
	path = litter-assessment
	url = https://github.com/ai4os-hub/litter-assessment
	branch = main
[submodule "obsea-fish-detection"]
	path = obsea-fish-detection
	url = https://github.com/ai4os-hub/obsea-fish-detection
	branch = main
