[submodule "dogs-breed-detector"]
	path = dogs-breed-detector
	url = https://github.com/ai4os-hub/dogs-breed-detector.git
	branch = main
[submodule "DEEP-OC-generic-dev"]
	path = DEEP-OC-generic-dev
	url = https://github.com/deephdc/DEEP-OC-generic-dev
	branch = master
[submodule "tf-cnn-benchmarks-api"]
	path = tf-cnn-benchmarks-api
	url = https://github.com/ai4os-hub/tf-cnn-benchmarks-api
	branch = main
